<h1>Categorias: </h1>
<hr>
<div class="card">
    <div class="card-body">
        <ul>
            {{#each categorias}}
               <a href="/categorias/{{slug}}"> <li>{{nome}}</li> </a>
            {{else}}
                <h1>Nenhuma categoria encontrada</h1>
            {{/each}}
        </ul>
    </div>
</div>
