<div class="card">
    <div class="card-body">
        <h1>{{postagem.titulo}}</h1>
        <h3>{{postagem.descricao}}</h3>
        <small>Data de publicação: {{postagem.data}}</small>
        <hr>
        <p>{{postagem.conteudo}}</p>
    </div>
</div>